{% load static %}
<html>
<head>
<title>Preventing Social Media Phishing in social networks</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="{% static 'default.css' %}" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="wrapper">
  <div id="header">
    <div id="logo">
      <h1><font color="orange" size=6>Preventing Social Media Phishing in social networks</font></h1>
	  <marquee><font color="pink" size=4>Social Media Phishing Profiles Detection</font></marquee>
    </div>
   
  
    </div>
  </div>
  <div id="menu">
    <ul>
      <li><a href="{% url 'index' %}">Home</a></li>
      <li><a href="{% url 'Admin' %}">Admin</a></li>
      <li><a href="{% url 'User' %}">Users</a></li>
      
   </ul>
  </div>
  <div id="page">
   <div id="content">
      <div class="post">
        <div class="title">
          <h2>Preventing Social Media Phishing in social networks</h2>
         </div>
        <div class="entry">
		 <br/><br/><br/>
{{ data }}
	 
	 <br>
          <p><img src="{% static 'images\images.jpg' %}" alt="" width="890" height="200" class="left" /><p></p><font size="4" color="white">
          <center><br/>Social Media Phishing Profiles Detection</center></font></p>
          <p><font size="" color="white"><b>About this project</b></p>

 <p><font size="" color="white">This project will help the user to find whether a social media account is phishing account or not.</p>
          </div>
        
      </div>
     
       
       
    </div>
    
  </div>

</body>
</html>
